<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Princess</key>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>description</key>
		<string>A Princess class</string>
	</dict>
	<key>Researcher</key>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>description</key>
		<string>A Researcher class</string>
	</dict>
</dict>
</plist>
